{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate Agency{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
          <a href="/">
            <img src="{% static 'images/real-estate-logo.jpg' %}" alt="Real Estate Co.">
          </a>
        </div>

        <nav>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'a_clients_list' %}">Clients</a></li>
            {% comment %} <li><a href="{% url 'a_properties_list' %}">Properties</a></li> {% endcomment %}
            <li><a href="{% url 'property_management' %}">Properties 2</a></li>
            <li><a href="{% url 'a_managements_list' %}">Managements</a></li>
            <li><a href="{% url 'examples' %}">Examples</a></li>
            <li><a href="http://127.0.0.1:8000/admin/" target="_blank">Admin</a></li>
          </ul>
        </nav>

        <form class="search-form">
          <input type="search" placeholder="Search properties...">
          <button type="submit">Search</button>
        </form>

        {% comment %} <div class="user-actions">
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
        </div> {% endcomment %}
      </header>



    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <p>&copy; {% now "Y" %} Real Estate Agency. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>