{%extends 'core/base.html' %}


{% block content %}


<div style="display:flex; flex-direction:column; align-items:center">
    <a href="https://www.engelvoelkers.com/es/es">Engel volkers</a>
    <br>
    <a href="https://fuenzalida.com/fuenzalida/">Fuenzalida</a>
    <br>
    <a href="https://www.viel.cl/">Viel</a>
    <br>
    <a href="https://www.berrioszegers.cl/">Berrios Zegers</a>
    <br>
    <a href="https://www.procasa.cl/">Procasa</a>
    <br>
    <a href="https://www.goldenpropiedades.cl/">Golden</a>
    <br>
    <a href="https://www.schumacherpropiedades.cl/index.php">Schumacher</a>
</div>


{% endblock content %}