{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_properties/css/admin_properties.css' %}">
{% endblock extra_css %}

{% block content %}



<div class="container-col">
    <h1>Admin properties list</h1>
    <a href="{% url "property_add" %}" class="btn">Add Property</a>
    <button>Eliminar propiedad</button>
</div>



<section>    
    <div class="container">
        
        <div class="property-list">
            {% for property in properties %}
                <div class="property-item">
                    <h2>{{ property.address }}</h2>
                    <p>{{ property.get_property_type_display }} en {{ property.offer_type }}</p>
                    <p>{{ property.offer_type }}</p>
                    <p>${{ property.price }}</p>
                    <p>{{ property.square_meters }} m2</p>
                    <p>ggcc: {{ property.common_expenses }}</p>
                    <p>Habitaciones: {{ property.bedrooms }}</p>
                    <p>Baños: {{ property.bathrooms }}</p>


                </div>
            {% empty %}
                <p>No properties available.</p>
            {% endfor %}
        </div>
    </div>
</section>







{% endblock content %}