

.container {
    display: flex;
    justify-content: center;
}
.container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.property-list {
    display: flex;
    gap: 20px 3%;
    /* max-width: 80vw; */
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-start;
}

.property-item {
    padding: 1rem 2rem;
    border: 1px solid black;    
    width: 22.75%;
}

.add_property_form {
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.add_property_form p {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
    box-shadow: 0 0 4px grey;
    padding: 2px;
    /* background-color: white; */
}