

.container {
    display: flex;
    justify-content: center;
}

.property-list {
    display: flex;
    gap: 20px 3%;
    /* max-width: 80vw; */
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-start;
}

.property-item {
    padding: 1rem 2rem;
    border: 1px solid black;    
    width: 22.75%;
}